{% extends "base.html" %}
{% block content %}
	<h1>Přehled testů</h1>

			<table class="table table-hover">
			<thead>
				<tr><th>#</th><th>kandidát</th><th>datum</th><th>test</th><th>hodnocení</th><th></th></tr>
			</thead>
			<tbody>

				{% for e in exams %}
				<tr>
					<td>{{e.id}}</td>
					<td>{{e.applicant}}</td>
					<td>{{e.get_date()}}</td>
					<td>{{e.exam_template.name}}</td>
					<td>{{e.get_result()}}</td>
					<td>
						<a href="{{e.get_detail_url()}}" class="btn btn-small">detail</a>
						<a href="{{e.get_start_url()}}" class="btn btn-small">znovu spuštění</a>
					</td>
				</tr>
				{% endfor %}

			</tbody>
			</table>

{% endblock %}


{% block script %}
{{ super() }}
      <script type="text/javascript">

      </script>
{% endblock %} 
